<h1>Pirate</h1>
<div class="pirate">
  <p>Name: <%=@pirate.name%></p>
  <p>Weight: <%=@pirate.weight%></p>
  <p>Height: <%=@pirate.height%></p>
</div>


<h2>First Ship</h2>
<dir class="first_ship">
  <p>Ship Name: <%=@ships[0].name%></p>
  <p>Ship Name: <%=@ships[0].type%></p>
  <p>Ship Name: <%=@ships[0].booty%></p>
</dir>

<h2>Second Ship</h2>
<dir class="second_ship">
  <p>Ship Name: <%=@ships[1].name%></p>
  <p>Ship Name: <%=@ships[1].type%></p>
  <p>Ship Name: <%=@ships[1].booty%></p>
</dir>
